{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6">
                {{ form_start(FormSearch) }}
                    <div class="row">
                        <div class="col">
                            {{ form_widget(FormSearch.mots) }}
                        </div>
                        <div class="col">
                            {{ form_widget(FormSearch.Recherche) }}
                        </div>
                    </div>
                {{ form_end(FormSearch) }}                
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-warning btn-block">Envoier un email</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-dark btn-block" id="affiche">Ajouter Etudiants</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-danger btn-block">Genere un pdf</button>
                    </div>
                </div>           
                
            </div>
            
        </div>
        <div class="row">            
            <div class="col-lg-12">
               <table class="table">
                    <thead>
                        <tr>                            
                            <th scope="col">Nom: </th>
                            <th scope="col">Prénom: </th>
                            <th scope="col">Sexe:</th>
                            <th scope="col">Date de Naissance:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Etudiant in Etudiants %}
                            <tr>
                            <td>{{ Etudiant.Nom }}</td>
                            <td>{{ Etudiant.Prenom }}</td>
                            <td>{{ Etudiant.Sexe }}</td>
                            <td>{{ Etudiant.DateDeNaissance |date('d/m/Y')}}</td>
                        </tr>
                        {% endfor %}                      
                        
                    </tbody>                    
               </table>               
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination  d-flex justify-content-center">
                    {{ knp_pagination_render(Etudiants) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" id="ferm"></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" method="post" id="ajoutEtudiants">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom:</label>
                        <input type="text" class="form-control" id="nom" placeholder="Votre Nom" name="nom">
                    </div>
                    <div class="mb-3">
                        <label for="prenom" class="form-label">Prénom: </label>
                        <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Votre Prénom" >                       
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Sexe: </label>
                        <select class="form-select" aria-label="Default select example" id"sexe">
                            <option selected>Selectioner</option>
                            <option value="1">Masculin</option>
                            <option value="2">Feminin</option>
                            <option value="3">Autre</option>
                        </select>                       
                    </div>
                    <div class="mb-3">
                        <label for="datedenaissance" class="form-label">Date De Naissance:</label>
                        <input type="date" name="datedenaissance" id="" class="form-control" placeholder="Date de Naissance">                       
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button type="submit" class="btn btn-success"> Enregistre</button>                    
                    </div>
                </form>
            </div>
        </div>
      </div>      
    </div>
  </div>
</div>
    
{% endblock %}